# KiCad unwanted files
*.kicad_prl
*-bak
*.kicad_sch-bak
*.kicad_pcb-bak
*.tmp
*.lck
fp-info-cache

# KiCad backup/autosave folders
*-backups/
*_backups/
*_autosave-*

# Fabrication outputs
gerbers/
plot/
*.gbr
*.drl
*.gbl
*.gbs
*.gbp
*.gbo
*.gm1
*.gtl
*.gts
*.gtp
*.gto

# OS junk
.DS_Store
Thumbs.db